$primary1: rgb(4, 19, 15);
$primary2: rgb(5, 37, 31);
$primary3: rgb(29, 59, 59);
$greenText: rgb(5, 192, 105);
$lightGreenText: rgb(58, 250, 160);

@mixin primary1-mix {
    background-color: rgba($color: $primary1, $alpha: 1.0);
    background: rgba($color: $primary1, $alpha: 1.0);

    &:hover {
        background-color: rgba($color: $primary1, $alpha: 1.0);
        background: rgba($color: $primary1, $alpha: 1.0);
    }
}

@mixin primary2-mix {
    background-color: rgba($color: $primary2, $alpha: 1.0);
    background: rgba($color: $primary2, $alpha: 1.0);

    &:hover {
        background-color: rgba($color: $primary2, $alpha: 1.0);
        background: rgba($color: $primary2, $alpha: 1.0);
    }
}

@mixin primary3-mix {
    background-color: rgba($color: $primary3, $alpha: 1.0);
    background: rgba($color: $primary3, $alpha: 1.0);

    &:hover {
        background-color: rgba($color: $primary3, $alpha: 0.8);
        background: rgba($color: $primary3, $alpha: 0.8);
    }
}

@mixin greenText-opaque {
    color: $greenText;
}

@mixin lightGreenText-opaque {
    color: $lightGreenText;
}